@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body{
  overflow-x:hidden;
}

.gradient-text {
  background: linear-gradient(180deg, #1fa2ff, #12d8fa, #a6ffcb);
  -webkit-background-clip: text; /* For Safari and older versions of Chrome and Firefox */
  background-clip: text; /* Standard property for newer browsers */
  color: transparent;
 
}
.shadow-element {
  
  box-shadow: 15px 15px 0px 0px #F5F5F5;
}
.homepage_bg{
  background-color: rgb(241px, 241px, 246px);
}